.page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1140px;
  position: relative;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
.col-2 {
  width: 16.66667%;
}
.col-10 {
  width: 83.33333%;
  text-align: right;
}
.col-10 a{
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  display: inline;
  padding: 10px;
  box-sizing: border-box;
}
img {
  width: 190px;
  height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
  vertical-align: middle;
}
.Home {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  margin: 10px;
  color: green;
}
.button{
    background-color: rgb(5, 209, 5);
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.container_banner{
  background-image: url(bg-akuantri-home1.jpg);
  background-position: center;
  background-size: cover;
}
h2{
  text-align: left;
  font-size: 34px;
  line-height: 1.5;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;  
}



